# Copie para android/keystore.properties (não commitar)
# Gere o keystore:
#   keytool -genkey -v -keystore financaspro-release.jks -keyalg RSA -keysize 2048 -validity 10000 -alias financaspro

storeFile=../financaspro-release.jks
storePassword=SUA_SENHA_DO_KEYSTORE
keyAlias=financaspro
keyPassword=SUA_SENHA_DA_CHAVE
